
.env
*.pem
certificate.pem

*.pth
*.pt
*.ckpt
*.bin
*.pkl

dataset/
skin_detector_dataset/

.gradio/
model_test.py/.gradio/


__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/


venv/
env/
.venv/
.env/

.ipynb_checkpoints/
*.ipynb

.idea/
*.iml

.vscode/

.DS_Store
Thumbs.db
desktop.ini

*.log
logs/

*.tmp
*.temp